In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, StandardScaler
%matplotlib inline

np.random.seed(0)

leaf_data = pd.read_csv("../data/train.csv")
leaf_data.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [93]:
ids = leaf_data['id'].values
target = leaf_data['species'].values
le = LabelEncoder()
target = le.fit_transform(target)
classes = le.classes_

unique, counts = np.unique(target,return_counts=True)
print('max: ',counts.max())
print('min: ',counts.min())

max:  10
min:  10

In [73]:
data = leaf_data.drop(['id','species'],1).values
# maybe I need to scale each sub feature set separately?
data = StandardScaler().fit_transform(data)

In [99]:
from sklearn.ensemble import RandomForestClassifier

# default 10 estimators
clf = RandomForestClassifier(n_estimators = 100)
clf.fit(data,target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [103]:
leaf_test = pd.read_csv("../data/test.csv")
leaf_test.head()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.006836,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922
2,9,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,...,0.128910,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000
3,12,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,...,0.012695,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789
4,13,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,...,0.000000,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812

In [104]:
test_id = leaf_test['id'].values
test = leaf_test.drop('id',1).values
test = StandardScaler().fit_transform(test)

# totally blind no validation or anything
predictions = clf.predict_proba(test)

In [105]:
submission = pd.DataFrame(predictions, columns=classes)
submission.insert(0,'id',test_id)
submission.head()

,id,Acer_Capillipes,Acer_Circinatum,Acer_Mono,Acer_Opalus,Acer_Palmatum,Acer_Pictum,Acer_Platanoids,Acer_Rubrum,Acer_Rufinerve,...,Salix_Fragilis,Salix_Intergra,Sorbus_Aria,Tilia_Oliveri,Tilia_Platyphyllos,Tilia_Tomentosa,Ulmus_Bergmanniana,Viburnum_Tinus,Viburnum_x_Rhytidophylloides,Zelkova_Serrata
0,4,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.0,0.00,...,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.01,0.00
1,7,0.00,0.00,0.03,0.03,0.01,0.01,0.08,0.0,0.00,...,0.0,0.02,0.00,0.0,0.00,0.02,0.00,0.00,0.00,0.00
2,9,0.01,0.59,0.01,0.00,0.02,0.00,0.00,0.0,0.02,...,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
3,12,0.01,0.02,0.00,0.05,0.00,0.00,0.01,0.0,0.04,...,0.0,0.00,0.00,0.0,0.00,0.03,0.07,0.01,0.00,0.02
4,13,0.02,0.02,0.00,0.00,0.00,0.00,0.01,0.0,0.13,...,0.0,0.00,0.02,0.0,0.01,0.00,0.02,0.00,0.00,0.00

In [106]:
submission.to_csv('../submission/submission.csv',index=False)